@import "src/theme/variables.scss";

#main-content.no-background {
  --background: none !important;
}

#main-container {
  display: flex;
}

#header {
  --background: none;
}

#bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: none;
  background-size: cover;
  z-index: -1;
}

.suffix-button {
  margin: auto;
}