<ion-progress-bar *ngIf="this.loading === true" color="primary" type="indeterminate"></ion-progress-bar>

<ion-content [fullscreen]="true" class="ion-padding" id="main-content"
  [ngClass]="{'hide': this.loading, 'no-background': this.form?.get('backgroundImage').value !== 'color'}">
  <ion-grid id="main-grid">
    <ion-row id="main-row">
      <ion-col id="main-column">
        <ion-toolbar id="header" mode="md">
          <ion-title color="secondary">Welcome, {{this.form?.get('username').value}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="this.settingsModal.present()">
              <ion-icon name="settings-outline" color="secondary"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      
        <app-dynamic-search id="search-container" [bookmarkList]="bookmarkList"
          [disableSearch]="this.form?.get('bookmarkSearch').value === false"></app-dynamic-search>

        <app-bookmark-accordion [bookmarkList]="bookmarkList"
          [showBookmarkGroups]="showBookmarkGroups"></app-bookmark-accordion>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<div id="bg-image" [ngClass]="{'hide': this.form?.get('backgroundImage').value === 'color'}"></div>

<ion-modal #settingsModal (ionModalWillDismiss)="handleModalWillDismiss()">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title color="secondary">Settings</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="settingsModal.dismiss(null)" [strong]="true">
            <ion-icon name="close-outline" color="secondary"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" [formGroup]="this.form" color="primary">
      <ion-item>
        <ion-label color="secondary">Username:</ion-label>
        <ion-input type="text" formControlName="username" color="secondary"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="secondary">Query bookmarks?</ion-label>
        <ion-checkbox slot="end" formControlName="bookmarkSearch"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-select placeholder="Background" formControlName="backgroundImage" color="secondary"
          class="custom-options" interface="modal" (ionChange)="handleBackgroundTypeChange($event.detail)">
          <ion-select-option value="color">Color</ion-select-option>
          <ion-select-option value="link">Image - URL</ion-select-option>
          <ion-select-option value="file">Image - File</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="this.form.get('backgroundImage').value === 'color'">
        <ion-label color="secondary">Background Color:</ion-label>
        <ion-button *ngIf="showBackgroundColorPicker === false" fill="outline"
          color="secondary" (click)="showBackgroundColorPicker = true">Select</ion-button>
        <span *ngIf="showBackgroundColorPicker === true" [cpToggle]="true"
          [style.background]="this.form.get('backgroundColor').value"
          [cpDialogDisplay]="'inline'" [cpOKButton]="true" [cpCancelButton]="true"
          [cpOutputFormat]="'hex'" (colorPickerSelect)="showBackgroundColorPicker = false"
          (colorPickerChange)="handleColorSelect('backgroundColor', $event)"
          [(colorPicker)]="this.form.get('backgroundColor').value"></span>
      </ion-item>
      <ion-item *ngIf="form.get('backgroundImage').value === 'file'">
        <ion-button expand="full" (click)="uploadImage()">
          <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
          <ion-label slot="end">Upload Image</ion-label>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="form.get('backgroundImage').value === 'link'">
        <ion-label color="secondary" position="stacked">Background Image URL:</ion-label>
        <ion-input type="text" formControlName="backgroundURL" color="secondary"
          (ionChange)="handleBackgroundImageChange($event.detail)"></ion-input>
        <ion-button slot="end" (click)="clearURL()" fill="clear" color="secondary" class="suffix-button">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label color="secondary">Primary Color:</ion-label>
        <ion-button *ngIf="showPrimaryColorPicker === false" fill="outline"
          color="secondary" (click)="showPrimaryColorPicker = true">Select</ion-button>
        <span *ngIf="showPrimaryColorPicker === true" [cpToggle]="true"
          [style.background]="this.form.get('primaryColor').value"
          [cpDialogDisplay]="'inline'" [cpOKButton]="true" [cpCancelButton]="true"
          [cpOutputFormat]="'hex'" (colorPickerSelect)="showPrimaryColorPicker = false"
          (colorPickerChange)="handleColorSelect('primaryColor', $event)"
          [(colorPicker)]="this.form.get('primaryColor').value"></span>
      </ion-item>
      <ion-item>
        <ion-label color="secondary">Text Color:</ion-label>
        <ion-button *ngIf="showTextColorPicker === false" fill="outline"
          color="secondary" (click)="showTextColorPicker = true">Select</ion-button>
        <span *ngIf="showTextColorPicker === true" [cpToggle]="true"
          [style.background]="this.form.get('textColor').value"
          [cpDialogDisplay]="'inline'" [cpOKButton]="true" [cpCancelButton]="true"
          [cpOutputFormat]="'hex'" (colorPickerSelect)="showTextColorPicker = false"
          (colorPickerChange)="handleColorSelect('textColor', $event)"
          [(colorPicker)]="this.form.get('textColor').value"></span>
      </ion-item>
      <ion-item>
        <ion-label color="secondary">Alignment:</ion-label>
        <ion-select placeholder="alignment" formControlName="alignment" color="secondary" class="custom-options"
          interface="modal" (ionChange)="handleAlignmentChange($event.detail)">
          <ion-select-option color="secondary" value="start">Left</ion-select-option>
          <ion-select-option color="secondary" value="center">Middle</ion-select-option>
          <ion-select-option color="secondary" value="end">Right</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="secondary">Width:</ion-label>
        <ion-range formControlName="width" color="secondary" [snaps]="true" [min]="2" [max]="12"
          (ionChange)="handleWidthChange($event.detail)"></ion-range>
      </ion-item>
      <ion-item>
        <ion-label color="secondary">Opacity:</ion-label>
        <ion-range formControlName="opacity" color="secondary"
          (ionChange)="handleOpacityChange($event.detail)">
          <ion-icon slot="start" color="secondary" name="radio-button-off-outline"></ion-icon>
          <ion-icon slot="end" color="secondary" name="radio-button-on-outline"></ion-icon>
        </ion-range>
      </ion-item>
    </ion-content>
    <ion-footer>
      <ion-toolbar color="primary">
        <div class="center-wrapper">
          <ion-button id="apply-button" fill="outline" color="secondary" (click)="storeCurrentSettings()"
            [disabled]="this.form.pristine === true || this.form.invalid === true">Save & Close</ion-button>
        </div>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>