<ion-toolbar class="top-radius user-opacity" color="primary" [ngClass]="{'bottom-radius': !showBookmarkGroups}"
  id="bookmark-toolbar" mode="md">
  <ion-buttons slot="start">
    <ion-button (click)="handleMenuToggle()">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Bookmarks</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="handleBookmarkExpandToggle()">
      <ion-icon name="funnel-sharp"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-accordion-group class="user-opacity" [ngClass]="{'hide': !showBookmarkGroups}" [multiple]="true" id="bookmark-accordion" #bookmarkAccordion>
  <ion-accordion *ngFor="let group of bookmarkList" [value]="group.title">
    <ion-item slot="header" color="light" class="bookmark-header" color="primary">
      <ion-icon [name]="group?.icon"></ion-icon>
      <ion-label>{{group.title}}</ion-label>
    </ion-item>
    <div slot="content">
      <ion-item *ngFor="let bookmark of group.bookmarks" color="primary">
        <ion-button fill="clear" expand="full" class="bookmark"  color="secondary"
          [href]="bookmark.useServerHostname ? location.protocol + '//' + location.hostname + bookmark.link : bookmark.link">
          {{bookmark.title}}</ion-button>
      </ion-item>
    </div>
  </ion-accordion>
</ion-accordion-group>