/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.hide {
    display: none !important;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-opacity {
    opacity: var(--dynamic-opacity) !important;
}


ion-item {
    --border-width: 0;
    --inner-border-width: 0;
}

ion-modal {
    ion-content {
        --background: none;
        ion-item {
            --background: none;
        }
    }
    ion-footer #apply-button {
        width: 80%;
    }
}

ion-select::part(text),
ion-select::part(icon) {
    color: var(--dynamic-text-color, #3dc2ff);
  }