<ion-searchbar class="user-opacity" (keyup.escape)="onEscape()" (keydown.tab)="handleSelectionChange($event)"
  (keydown.arrowdown)="handleSelectionChange($event)" (keydown.arrowup)="handleSelectionChange($event)"
  (keydown.enter)="handleSearch(searchbar.value)" enterkeyhint="search" placeholder=""
  (ionChange)="this.handleInputChange($event.detail)"
  color="primary" id="searchbar" #searchbar></ion-searchbar>

<div id="searchResults">
  <ion-item *ngFor="let res of this.results; index as i"  class="user-opacity" [href]="res.link"
    [color]="i === this.selectionIndex ? 'secondary' : 'primary'">
    <ion-label>{{res.title}}</ion-label>
  </ion-item>
</div>